<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div class="container-80">
        <div class="flex article">
            <h2>Edit Article</h2>
            <a class="logout" href="/users/logout"><button>logout</button></a>
        </div>
        
            <form action="/articles/<%= article.id %>" method="POST">
                <div class="flex form margin">
                <input class="margin" type="text" name="title" placeholder="Add Title" value="<%= article.title %>">
                <textarea class="margin" name="description" rows="4" placeholder="Add Description" ><%= article.description %></textarea>
                <input class="margin" type="text" name="tags" placeholder="Tags" value="<%= article.tags %>">
                <input class="margin" type="text" name="author" placeholder="Author" value="<%= article.author %>">
                <div class="margin">
                    <button type="submit">Update Article</button>
                </div>
            </div>
            </form>
        

    </div>
</body>
</html>